/* ---------------------------- Paramètres Global ---------------------------- */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Questrial, sans-serif;
}

main {
    max-width: 1200px;
    margin: auto;
    
}

/* ---------------------------- Header --------------------------------------- */

#title {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

nav ul {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

li {
    margin-right: 1%;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    padding: 1rem;
}

nav a:hover{
    color: #2056ac;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
}


/* ---------------------------- Article --------------------------------------- */

img {
    max-width: 100%;
    padding: 3rem 0;
}

#first , .second {
    display: flex;
    justify-content: space-between;
}

.up {
    width: 33%;
    margin-right: 2%;
    padding: 3rem 0; 
}
.up a{
    background-color: #64abd1;
    padding: 1rem;

}
main p a{
    text-decoration: underline;
    color: blue;
}
main p{
    padding-bottom: 3rem;
}

.down {
    width: 24%;
    padding: 3rem;
}
.down a{
    background-color: #64abd1;
    padding: 1rem;

}
/* ---------------------------- Contact --------------------------------------- */

#contact {
    display: flex;
    justify-content: center;
    background-color: #e3f0f7;
}

.infos {
    width: 20%;
    padding: 3rem;
}

#separator {
    background-color: blue;
    padding: 0.5rem;
}

/* ---------------------------- Footer --------------------------------------- */

footer {
    padding: 4rem;
}

/* ---------------------------- Media Queries --------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) 
{   
    .second {
        flex-wrap: wrap;
    }

    .down {
        width: 49%;
    }
}

header button {
    display: none;
}

@media screen and (max-width: 767px) {
    nav ul {
        display: none;
    }

    header button {
        display: initial;
    }

    #title {
        text-align: left;
    
    }

    .line-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #first, .second, #contact{
        flex-direction: column;
        align-items: center; 
    }

    .up, .down, .infos{
        width: 100%;
    }
}

/* ---------------------------- Déco --------------------------------------- */

header, footer{
    background-color: #2056ac;
    color: white;

}